# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.env
.flaskenv

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log
logs/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/


*/**/.DS_Store
.DS_Store/

output
output/
.env*

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env.local
.env.prod
.env.*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
valid-flow-446606-m2-212ba29fbb71.json
*/video.srt
python-backend/video.srt

service-account.json

deploy-app.sh

data/

frontend.env
backend.env
*.env

dump.rdb
*/dump.rdb